*{
    margin: 0;
    padding: 0;
}

.container{
    text-align: center;
}

.m-w-1200{
    max-width: 1200px;
    margin: auto;
}
.header{
    background: #4a76a8;
}
 .header-child{
     display: flex;
     flex-flow: row;
     justify-content: space-between;
     align-items: center;
 }

.logo img{
    height: 42px;
    width: 50px;

}
.logo{
    flex-grow: 1;
}

.search label {
    background:#224b7a;
    padding: 5px 15px ;
    border-radius: 25px ;
}
 .search input{
     background: none;
     border: none;
     outline: none;
     color: white;
 }
 .search{
     flex-grow: 10;
     text-align: left;
     padding-left: 100px;
 }
.swich {
    flex-grow: 1;
}

.swich a{
    color:white;
    text-decoration: none;
    font-weight: 700;
    min-height: 45px;
    padding: 0 5px ;
    display: inline-block;
    line-height: 40px;
}

.swich a:hover{
    background: #3d6898;
}
.footer-child-center,
.footer-child-right,
.footer-child{
    display: flex;
    flex-flow: row;
}


.footer-child{
    justify-content: space-between;
    padding: 60px 0;
}

.footer-child-left a,
.footer-child-center a,
.footer-child-right a {
    color: #2a5885;
    text-decoration: none;
    cursor: pointer;
}

.footer-child-left a:hover,
.footer-child-center a:hover,
.footer-child-right a:hover {
    text-decoration: underline;
}

.footer-child-center,
.footer-child-right {
    list-style: none;
}

.footer-child-left p,
.footer-child-right li:nth-child(1){
color: rgb(130, 130, 130);
}
.footer-child-center li{
padding: 0 5px;
}
 .footer-child-right li{
     padding: 0 2px;
 }

 .body{
     min-height: 80vh;
     display: flex;
     align-items: center;
     justify-content: center;
 }
  .footer{
      border-top: 2px solid #d7d8db ;
  }